<!DOCTYPE html>
<html lang="en">
<link href="css/register.css" rel="stylesheet" type="text/css">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<form action="/login" method="get">

    <h1>Login</h1>

    <fieldset>
        <label for="nick_name">NickName:</label>
        <input type="text" id="nick_name" name="nickname">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
    </fieldset>
    <button type="submit">Login</button>
</form>

</body>
</html>
<body>

</body>
</html>