<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link href="css/register.css" rel="stylesheet" type="text/css">
</head>

<style>  body {
    background: url("https://media.istockphoto.com/id/1337977426/photo/dark-gray-and-black-grunge-cement-wall-studio-room-space-product-background-template.jpg?b=1&s=170667a&w=0&k=20&c=4dVCV5KtJKEhuQtp5dbnFmwMBAzNknz35VUIa0C3KoE=") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
</style>
<body>

<center><form action="/login" method="get">

    <h1 style="color: #ffffff">Login</h1>

    <fieldset>
        <label for="nick_name" style="color: #ffffff">NickName:</label>
        <input type="text" id="nick_name" name="nickname">
        <label for="password" style="color: #ffffff">Password:</label>
        <input type="password" id="password" name="password">
    </fieldset>
    <button type="submit">Login</button>

</form></center>
<center><form action="/index" method="get"><button>Return</button></form></center>


</body>
</html>

</body>
</html>