<!DOCTYPE html>
<html lang="en">
<link href="../static/css/register.css" rel="stylesheet" type="text/css">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

<form action="/register" method="post">

    <h1>Sign Up</h1>

    <fieldset>
        <label for="name">First Name:</label>
        <input type="text" id="first_name" name="firstName">
        <label for="name">Last Name:</label>
        <input type="text" id="name" name="lastName">
        <label for="name">NickName:</label>
        <input type="text" id="nick_name" name="nickname">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">

        <label for="name">Team:</label>
        <input type="team name" id="team_name" name="team">
    </fieldset>
    <fieldset>
        <label for="job">Job Role:</label>
        <select id="job" name="role">
            <optgroup label="Roles">
                <option value="CEO">CEO</option>
                <option value="Developer">Developer</option>
                <option value="User">User</option>
                <option value="unsigned">Unsigned</option>
            </optgroup>
        </select>
    </fieldset>
    <button type="submit">Sign Up</button>
</form>

</body>
</html>
<body>

</body>
</html>